<a href="https://colab.research.google.com/github/ErtanOz/PythonGIS/blob/main/GeoCode_OSM_Ertan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option("max_rows", 400)
pd.set_option("max_colwidth", 400)

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in c:\anaconda\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\anaconda\lib\site-packages (from geopy) (1.52)

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim(user_agent="YOUR NAME's mapping app", timeout=2)

In [ ]:
def find_location(row):
    
    place = row['place']
    
    location = geolocator.geocode(place)
    
    if location != None:
        return location.address, location.latitude, location.longitude, location.raw['importance']
    else:
        return "Not Found", "Not Found", "Not Found", "Not Found"

In [ ]:
ithaca_df = pd.read_csv("locations.csv")
ithaca_df

                        place
0  3 Beatrice Avenue SW16 4UW
1      Heumarkt 54 50664 Köln

In [ ]:
ithaca_df[['address', 'lat', 'lon', 'importance']] = ithaca_df.apply(find_location, axis="columns", result_type="expand")
ithaca_df

,place,address,lat,lon,importance
0,3 Beatrice Avenue SW16 4UW,"Beatrice Avenue, Norbury, London Borough of Croydon, London, Streatham, Greater London, England, SW16 4UW, United Kingdom",51.405588,-0.121150,0.500
1,Heumarkt 54 50664 Köln,"Hänneschen und die Pfeffermühle, 54, Heumarkt, Martinsviertel, Altstadt-Nord, Innenstadt, Köln, Nordrhein-Westfalen, 50667, Deutschland",50.937308,6.961288,0.331