<a href="https://colab.research.google.com/github/ErtanOz/PythonGIS/blob/main/GeoCode_OSM_CdV_Ertan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option("max_rows", 400)
pd.set_option("max_colwidth", 400)

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in c:\anaconda\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\anaconda\lib\site-packages (from geopy) (1.52)

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim(user_agent="YOUR NAME's mapping app", timeout=2)

In [ ]:
def find_location(row):
    
    place = row['place']
    
    location = geolocator.geocode(place)
    
    if location != None:
        return location.address, location.latitude, location.longitude, location.raw['importance']
    else:
        return "Not Found", "Not Found", "Not Found", "Not Found"

In [ ]:
koeln_df = pd.read_csv("koeln_locations_CdV.csv")
koeln_df

                                place
0  Luxemburger Strasse 66 50674 Koeln
1          Quatermarkt  4 50667 Koeln
2     Rothehausstrasse 30 50823 Koeln

In [ ]:
koeln_df[['address', 'lat', 'lon', 'importance']] = koeln_df.apply(find_location, axis="columns", result_type="expand")
koeln_df

,place,address,lat,lon,importance
0,Luxemburger Strasse 66 50674 Koeln,"Mein Brotkörbchen, 66, Luxemburger Straße, Studentenviertel, Neustadt/Süd, Innenstadt, Köln, Nordrhein-Westfalen, 50674, Deutschland",50.925996,6.938053,0.321000
1,Quatermarkt 4 50667 Koeln,"Alt St. Alban, 4, Quatermarkt, Martinsviertel, Altstadt-Nord, Innenstadt, Köln, Nordrhein-Westfalen, 50667, Deutschland",50.936905,6.958254,0.598514
2,Rothehausstrasse 30 50823 Koeln,"30, Rothehausstraße, Ehrenfeld, Köln, Nordrhein-Westfalen, 50823, Deutschland",50.947517,6.918038,0.221000